# App Details
APP_NAME=
APP_PORT=
APP_DESCRIPTION=
APP_VERSION=
APP_URL= 
# Database
DATABASE_URL=
# Security
JWT_SECRET=
JWT_EXPIRES_IN=
CSRF_SECRET=
ORIGIN_URL=
# Google OAuth
GOOGLE_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=